a:link,a:visited{
color: white;
background-color: brown;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
}
a:hover{
    color: white;
    background-color: red;
}